.footer {
    display: flex;
    align-content: center;
    color: #ffffff;
    background-color:gray;
    height: 3.5rem;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}